.html {
  padding: 0;
  margin: 0;
  background-color: black;
}

button {
  text-decoration: none;
  background: none;
  padding: 0;
  margin: 0;
}

.screen-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 300vw;
  height: 300vh;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.5s ease-in-out;
}

.center-screen {
  display: grid;
  grid-template-columns: 1fr 9fr 1fr;
  grid-template-rows: 1fr 9fr 1fr;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  justify-content: center;
  align-items: center;
  text-align: left;
  background-color: black;
  width: 100vw;
  height: 100vh;
  align-self: center;
  margin: 0 auto 0 auto;
}

.up-screen {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  width: 100vw;
  height: 100vh;
  background-color: gray;
}

#secretScreen {
  display: none;
}

.right-screen {
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
  width: 100vw;
  height: 100vh;
  background-color: grey;
}

.down-screen {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  width: 100vw;
  height: 100vh;
  background-color: gray;
}

#secretpw {
  position: absolute;
  bottom: 0;
}

.left-screen {
  display: flex;
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  width: 100vw;
  height: 100vh;
  background-color: black;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

#dydanImg {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  flex-grow: 1;
}

#textDydan {
  position: absolute;
  color: white;
  transform: rotate(5deg);
}

#textDydan li {
  margin-bottom: 2rem;
}

#deadkz {
  position: absolute;
  width: 5%;
  height: auto;
  top: 70%;
  left: 40%;
}

#runkz {
  position: absolute;
  width: 4%;
  height: auto;
  top: 40%;
  left: 75%;
  transform: skew(-40deg);
}

#runkz2 {
  position: absolute;
  width: 5%;
  height: auto;
  top: 60%;
  left: 75%;
  transform: skew(-30deg);
}

#runkz3 {
  position: absolute;
  width: 8%;
  height: auto;
  top: 95%;
  left: 80%;
  transform: skew(-40deg) scaleX(-1);
}

#runkz4 {
  position: absolute;
  width: 5%;
  height: auto;
  top: 60%;
  left: 10%;
  transform: skew(-30deg);
}

.headerTitle {
  display: flex;
  flex-direction: row;
}

.github a {
  color: hotpink;
}

.cursor {
  width: 5px;
  height: 1.2em;
  background-color: #0f0;
  margin-left: 5px;
  animation: blink 1s steps(1) infinite;
  align-self: center;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.itch a {
  color: #00ff00;
}

.sun2 a {
  color: #ffff00;
}

body {
  overflow: hidden; /* Hide scrollbars */
  background-color: black;
  font-size: 24px;
  font-family: 'Roboto Mono', monospace;
  font-weight: 200;
}

h3 {
  color: white;
  text-align: left;
  vertical-align: top;
}

.main {
  outline: 2px solid white;
  padding: 50px;
  width: 50%;
  align-self: center;
  margin: 0 auto 0 auto;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

.rightArrow {
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
  align-self: center;
}

.leftArrow {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

.rightArrow2 {
  margin-left: auto;
  flex-grow: 0;
}

.upArrow {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  text-align: center;
}

.downArrow {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  text-align: center;
}

li {
  text-align: left;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

p {
  color: white;
}

.footerimg {
  display: block;
  float: left;
  padding: 10px;
  width: 3%;
}

.blogimg {
  width: 20%;
  padding-bottom: 10px;
}

.imagediv {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sidechar {
  color: darkblue;
}

.enemy {
  color: darkred;
}

.blogbody {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  text-align: left;
  overflow: scroll; /* Hide scrollbars */
  color: white;
}

.arrow {
  color: white;
}

.arrow:hover {
  cursor: pointer;
}

/*
.topborder {
    position: sticky;
    left: 0px; 
    top: 0px; 
    width: 71%;
    padding: 10px 50px 10px 50px;
    height: 5px; 
    background-color: #796755;
}
*/

@media only screen and (max-width: 600px) {
  .center-screen {
    min-height: 0vh;
    min-width: 70%;
    overflow: scroll;
    padding: 10px;
  }
  .main {
    outline: 2px solid #796755;
    min-height: 0vh;
    min-width: 70%;
    padding: 20px;
  }
}
