.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    text-align: left;
    min-height: 100vh;
    background-color:#c0c0c0;
}

body {
    overflow: hidden; /* Hide scrollbars */
    background-color: #c0c0c0;
    font-size: 24px;
    
}

h3 {
    color:#796755;
    text-align: left;
    vertical-align: top;
}

.main {
    outline: 2px dotted #796755;
    padding: 50px;
    min-height: 20vh;
    width: 70%
}

li {
    text-align: left;
    list-style-type: trad-chinese-informal;
}

a {
    text-decoration: none;
    color: #49a078;
}

.footerimg {
    display:block;
    float:left;
    padding: 10px;
    width:3%;
}

.blogimg {
    width:20%;
    padding-bottom: 10px;
}

.imagediv {
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sidechar {
    color: darkblue;
}

.enemy {
    color: darkred;
}

.blogbody {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: left;
    overflow: scroll; /* Hide scrollbars */
}

@media only screen and (max-width: 600px) {
    .center-screen {
        min-height: 0vh;
        min-width: 70%;
        overflow: scroll;
        padding: 10px;
    }
    .main {
        outline: 2px dotted #796755;
        padding: 0px;
        min-height: 0vh;
        min-width: 70%;
        padding: 10px;
    }
}